
<div>
<form action='/names' method="post" >
    <div>
        <p>Insert player 1 name</p>
        <input type="text" name="player_1">
        <p>Insert player 2 name</p>
        <input type="text" name="player_2">
    </div>
    <input type="submit" value="Submit">
</form>
</div>
